{% extends "web/base.html" %}
{% load static %}
{% block content %}

        <!-- About Me Sectin Start -->
        <section class=" pt-140 pb-120 mt-5" data-aos="zoom-in">
            <div class="container">
                <div class="about-grid">
                    <img class="mx-auto" src="{% static 'web/images/about/hero2.png' %}" alt="about me">
                    <div class="fw-bold font-Syne leading-none d-flex flex-wrap flex-column gap-y-2">
                        
                        <h3 class="text-dark section-title">
                            Ajmal Sha
                        </h3>

                        <h4 class="text-dark text-2xl mt-3 mb-4">Founder Qeat</h4>
                        <p class="text-dark text-xl fw-bold font-Syne leading-7 mb-6">
                            I started this journey to share my passion for with you. At Qeat, we’re all about creating delicious, wholesome food that not only tastes great but also supports your well-being and the environment.
                        </p>
                        <p class="paragraph mb-6">
                            That is where I come
                            in.
                            A lover of
                            words, a wrangler of copy. Here to create copy that not
                            only reflects who you are and what you stand for, but words that truly land with those that
                            read them, calling your audience in and making them .</p>

                        <div>
                            {% comment %} <img src="{% static 'web/images/signature.svg' %}" alt="signature"> {% endcomment %}
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!-- About Me Sectin End -->


        <!-- Video Section Start -->

        <div class="bg-white pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative" data-aos="zoom-in-up">
                            <img class="rounded-2xl" src="{% static 'web/images/video/video.png' %}" alt="video image">
                            <a href="https://www.youtube.com/watch?v=mSC6GwizOag&amp;ab_channel=TailwindLabs" class="video-popup play-button">
                                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="fill-primary group-hover:fill-yellow transition-all duration-300" cx="50" cy="50" r="50" />
                                    <path class="stroke-black-800 group-hover:stroke-white" d="M43 41L57 50L43 59V41Z" stroke-opacity="0.9" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Video Section End -->

        <!-- tabs start -->
        <section class="featured-properties">
            <div class="container" data-aos="zoom-out" data-aos-delay="800">
                <div class="row">
                    <div class="col-12">
                       <div class="fw-bold font-Syne text-center leading-none d-flex flex-wrap flex-column gap-y-2 mb-4">                           
                            <h3 class="section-title text-dark mb-0">Business Journey                           
                            </h3>

                        </div>
                        <div class="tabs nav nav-pills flex-wrap justify-content-center gap-4 mt-8 mb-14">
                           
                            <button class="tab-btn tab-btn justify-content-between align-items-center d-inline-flex" data-bs-toggle="pill" data-bs-target="#experience_tab">
                                Experience
                                <span class="inline-block animate-arrow-up">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M7 7H17V17" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                            </button>                            
                            <button class="tab-btn tab-btn justify-content-between align-items-center d-inline-flex" data-bs-toggle="pill" data-bs-target="#awards_tab">
                                Awards
                                <span class="inline-block animate-arrow-up">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M7 7H17V17" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                            </button>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="tab-content">

                            <div id="about_me_tab" class="tab-pane fade show active position-relative">
                                <div class="about-me-grid">

                                    <img src="{% static 'web/images/about/hero2.png' %}" alt="about me">
                                    <div>
                                        <h4 class="text-dark text-2xl based-in-german-title-tab fw-bold font-Syne">Ajmal Sha
                                        </h4>
                                        <p class="paragraph mb-7">Ajmal Sha, <span class="text-dark">(Founder,Qeat)</span>,
                                            I started this journey to share my passion for with you. At Qeat, we’re all about creating delicious, wholesome food that not only tastes great but also supports your well-being and the environment.</p>
                                        <p class="paragraph mb-14">but words that truly land with those that read them, calling
                                            your
                                            audience
                                            in and making them want more.</p>

                                        {% comment %}  {% endcomment %}
                                    </div>
                                </div>
                            </div>

                            <div id="experience_tab" class="tab-pane fade position-relative">
                                <h4 class="text-dark text-2xl based-in-german-title-tab fw-bold font-Syne">Experience</h4>
                                <div class="tab-contents tab-contents-experience gap-x-4 gap-y-5">
                                    {% for experience in experiences %}                                    
                                    <div class="experience-tab-item d-flex flex-wrap flex-column gap-8 justify-content-between">
                                        <span class="text-sm fw-normal font-Inter leading-tight text-black-text-800">{{experience.startdate}}
                                    –
                                   {{experience.enddate}}</span>
                                        <div>
                                            <h4 class="dot fw-bold text-lg fw-normal font-sans text-2xl leading-7 text-dark position-relative">
                                                {{experience.name}}</h4>
                                            <p class=" font-Syne leading-normal  text-dark">{{experience.position}}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div id="education_tab" class="tab-pane fade">
                                <h4 class="text-dark text-2xl based-in-german-title-tab fw-bold font-Syne">Education</h4>

                                <div class="education-tab-contents">

                                    <div class="education-tab-item d-flex flex-wrap">
                                        <span class="text-sm fw-normal font-Inter leading-tight text-black-text-800">003/2008
                                    –
                                    07/2011</span>
                                        <div class="flex-1">
                                            <p class="dot text-lg fw-normal font-sans leading-7 text-dark position-relative">
                                                Axtra</p>
                                            <h4 class="fw-bold font-Syne leading-normal text-2xl text-dark">BA Business
                                                Management
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="education-tab-item d-flex flex-wrap">
                                        <span class="text-sm fw-normal font-Inter leading-tight text-black-text-800">03/2008
                                    – 07/2011</span>
                                        <div class="flex-1">
                                            <p class="dot text-lg fw-normal font-sans leading-7 text-dark position-relative">
                                                Axtra</p>
                                            <h4 class="fw-bold font-Syne leading-normal text-2xl text-dark">BA Business
                                                Management
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="education-tab-item d-flex flex-wrap">
                                        <span class="text-sm fw-normal font-Inter leading-tight text-black-text-800">03/2008
                                    – 07/2011</span>
                                        <div class="flex-1">
                                            <p class="dot text-lg fw-normal font-sans leading-7 text-dark position-relative">
                                                Axtra</p>
                                            <h4 class="fw-bold font-Syne leading-normal text-2xl text-dark">BA Business
                                                Management
                                            </h4>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div id="skills_tab" class="tab-pane fade">
                                <h4 class="text-dark text-2xl based-in-german-title-tab fw-bold font-Syne">Skills</h4>

                                <div class="skills-tab-contents">

                                    <div class="d-flex flex-wrap gap-4 align-items-start skills-tab-item">
                                        <img class="items-start" src="{% static 'web/images/skills/vs-code.png' %}" alt="icons">
                                        <div class="flex flex-wrap gap-1 flex-1 flex-col">
                                            <h4 class="fw-bold font-Syne leading-normal text-xl text-dark">React JS</h4>
                                            <p class="text-sm fw-normal font-Inter leading-none text-dark">(90%)</p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap gap-4 align-items-start skills-tab-item">
                                        <img class="items-start" src="{% static 'web/images/skills/figma.png' %}" alt="icons">
                                        <div class="flex flex-wrap gap-1 flex-1 flex-col">
                                            <h4 class="fw-bold font-Syne leading-normal text-xl text-dark">Figma</h4>
                                            <p class="text-sm fw-normal font-Inter leading-none text-dark">(70%)</p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap gap-4 align-items-start skills-tab-item">
                                        <img class="items-start" src="{% static 'web/images/skills/framer.png' %}" alt="icons">
                                        <div class="flex flex-wrap gap-1 flex-1 flex-col">
                                            <h4 class="fw-bold font-Syne leading-normal text-xl text-dark">Framer</h4>
                                            <p class="text-sm fw-normal font-Inter leading-none text-dark">(80%)</p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap gap-4 align-items-start skills-tab-item">
                                        <img class="items-start" src="{% static 'web/images/skills/framer.png' %}" alt="icons">
                                        <div class="flex flex-wrap gap-1 flex-1 flex-col">
                                            <h4 class="fw-bold font-Syne leading-normal text-xl text-dark">Framer</h4>
                                            <p class="text-sm fw-normal font-Inter leading-none text-dark">(80%)</p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap gap-4 align-items-start skills-tab-item">
                                        <img class="items-start" src="{% static 'web/images/skills/framer.png' %}" alt="icons">
                                        <div class="flex flex-wrap gap-1 flex-1 flex-col">
                                            <h4 class="fw-bold font-Syne leading-normal text-xl text-dark">Framer</h4>
                                            <p class="text-sm fw-normal font-Inter leading-none text-dark">(80%)</p>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-wrap gap-4 align-items-start skills-tab-item">
                                        <img class="items-start" src="{% static 'web/images/skills/framer.png' %}" alt="icons">
                                        <div class="flex flex-wrap gap-1 flex-1 flex-col">
                                            <h4 class="fw-bold font-Syne leading-normal text-xl text-dark">Framer</h4>
                                            <p class="text-sm fw-normal font-Inter leading-none text-dark">(80%)</p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div id="awards_tab" class="tab-pane fade">
                                <h4 class="text-dark text-2xl based-in-german-title-tab fw-bold font-Syne">Awards</h4>
                                <div class="blog-grid">
                                    {% for award in awards  %}
                                    <!-- Blog Item Start -->
                                    <div class="blog-item" data-aos="zoom-in-up" data-aos-delay="600">
                                        <div class="rounded-20 overflow-hidden mb-6">                                          
                                            <img class="w-100" src="{{award.image.url}}" alt="blog image">
                                        </div>
                                        <div class="d-flex flex-wrap flex-column gap-3">
                                            <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">                                               
                                                <li class="blog-meta-item">
                                                {{award.date}}
                                                </li>                
                                            </ul>
                                            <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                                                <h6 class="fw-bold font-Syne transition-all leading-8 blog-title">
                                                    {{award.name}}
                                                </h6>                                            
                                            </div>                                           
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- Blog Item End -->                                                                
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- tabs end -->


        <!-- Brand Section Start-->

        <div class="bg-white brandCarousel mb-120" data-aos="flip-down">
            <div class="fw-bold font-Syne text-center leading-none d-flex flex-wrap flex-column gap-y-2 mb-4">
                           
                <h3 class="section-title text-dark mb-0">Group of Companies
               
                </h3>



            </div>
            <div class="container">
                <div class="swiper brand-carousel">
                    
                    
                    
                    <div class="swiper-wrapper">
                        {% for group in groupofcompanies  %}
                        <div class="swiper-slide">
                            
                            <img class="mx-auto d-block" src="{{group.image.url}}" alt=" brandlogo">
                            
                        </div>
                        {% endfor %}
                    </div>
                   
                </div>
            </div>
        </div>


        <!-- Brand Section End-->
        {% endblock content %}

        {% block js %}
        <script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}">
        </script>
    
        {% endblock js %}