{% extends "web/base.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

{% block content %}

        <!-- Portfolio Section Start -->
        <section class="bg-white pt-20 pb-120 mt-5">
            <div class="container mx-auto">
                <div class="row">
                    <div class="col-12" data-aos="flip-down" data-aos-delay="400">
                        <div class="fw-bold font-Syne text-center leading-none d-flex flex-wrap flex-column gap-y-2 mb-10">
                            
                            <h3 class="section-title text-dark">Gallery <span
                                    {% comment %} class="position-relative circle-shape portfolio-shape"></span></h3> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="row g-6">
                    {% for gallery in galleries  %}
                    
                    
        
                    <div class="col-12 col-md-4 col-lg-3" data-aos="flip-down" data-aos-delay="600">
                        <div class="overflow-hidden position-relative project-item">
                            <img class="w-100 gallery-img" src="{{gallery.image.url}}" alt="project1">
                            <div class="position-absolute project-item-content">
                                <div class="d-flex flex-wrap alig-items-center justify-content-between project-item-contet-wrap">
                                    <h4 class="fw-bold font-Syne text-center leading-10 project-title  ">
                                       {{gallery.name}}
                                    </h4>
                                 
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    
                    {% endfor %}
                   
                </div>
            </div>
        </section>
        <!-- Portfolio Section End -->

        {% endblock content %}

      