{% extends "web/base.html" %}
{% load static %}
{% block content %}
        <!-- Hero section start -->
        <section class="bg-secondary position-relative pt-140 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-content-wrapper">
                            <span class="font-Syne text-dark fw-bold lh-1 text-2xl d-flex flex-wrap align-items-center hello-iam"
            data-aos="fade-right" data-aos-delay="300">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="2" viewBox="0 0 65 2" fill="none">
                <path d="M0 1H65" stroke="#080808" />
              </svg>
            </span>
                            </span>
                            <h1 class="hero-title font-Syne fw-bold position-relative z-1 circle-shape" data-aos="fade-right" data-aos-delay="400">
                                Ajmal
                                <!-- <br /> Henry -->
                            </h1>
                            <h2 class="hero-title font-Syne fw-bold mb-20" data-aos="fade-right" data-aos-delay="600">
                                Sha</h2>
                            <p class="font-Syne fw-bold text-lg leading-tight iam-designer mb-30" data-aos="fade-right" data-aos-delay="800">Founder |
                                Qeat</p>

                            <div class="d-flex flex-wrap hero-btn-wraper">
                                <!-- Link Start -->
                                <span data-aos="fade-right" data-aos-delay="1000">
              <a href="{% url "web:contact" %}" class="d-flex align-items-center flex-wrap btn-primary">Let’s
                Talk
                <span class="animate-arrow-up">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
                                </a>
                                </span>
                                <!-- Link End -->

                                <!-- Link Start -->
                                <span data-aos="fade-right" data-aos-delay="1200">
              <a href="{% url "web:about" %}" class="d-flex align-items-center flex-wrap btn-primary-outline">
                Profile
                <span class="animate-arrow-up">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 17L17 7" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
                                </a>
                                </span>
                                <!-- Link End -->
                            </div>

                            <div class="d-flex flex-wrap align-items-center" data-aos="fade-right" data-aos-delay="1400">
                                <div class="d-flex flex-wrap align-items-center">
                                    <span class="font-Syne text-dark fw-bold text-counter lh-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-none d-md-block">
                <img class="position-absolute top-0 end-0 hero-image" data-aos="fade-left" src="{% static 'web/images/hero/hero1.png' %}" alt="hero Image" id = "hero">
            </div>

        </section>
        <!-- Hero section end -->

        <!-- About Us Sectin Start -->
        <section class="about-section py-72" data-aos="zoom-out" data-aos-delay="800">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="position-relative">
                            <img src="{% static 'web/images/about/hero1.png' %}" alt="">
                            {% comment %} <div class="d-flex flex-wrap flex-column position-absolute years-of-experience">
                                <span
                    class="years-experience-of-number text-dark fw-bold font-Syne leading-none d-inline-block position-relative">12+</span>
                                <span class="strock-text">Years of <br /> experience</span>

                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 about-grid-space-right">

                        <div class="fw-bold font-Syne leading-none d-flex flex-wrap flex-column gap-y-2">
                            <h3 class="section-title circle-shape text-dark position-relative">
                                Ajmal Sha, Founder | Qeat
                            </h3>
                            <h4 class="based-in-german-title text-dark">Based in Kerala</h4>
                            <p class="paragraph mb-5"> I started this journey to share my passion for  with you. At Qeat, we’re all about creating delicious, wholesome food that not only tastes great but also supports your well-being and the environment.</p>          
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Sectin End -->

        <!-- Portfolio Section Start -->
        
        <section class="bg-secondary py-72">
            <div class="container">
                <div class="row">
                    <div class="col-12" data-aos="fade-up" data-aos-delay="400">
                        <div class="fw-bold font-Syne text-center leading-none d-flex flex-wrap flex-column gap-y-2 mb-10">
                            <h3 class="section-title text-dark">
                                G<span class="position-relative circle-shape portfolio-shape">all</span>ery
                            </h3>
                        </div>
                    </div>
                    {% for gallery in galleries  %}
                    <div class="col-12 col-md-3" data-aos="fade-up" data-aos-delay="600">
                        <div class=" gallery-image overflow-hidden mb-6">
                            <img src="{{gallery.image.url}}" alt="project1">
                        </div>
                        <div class="d-flex flex-wrap flex-column gap-3">
                            <div class="d-flex flex-wrap align-items-center justify-content-between text-dark portfolio-title">
                                <h4 class="fw-bold font-Syne text-center leading-10 portfolio-link">
                                    {{gallery.name}}
                                </h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-12 mt-12" data-aos="fade-up" data-aos-delay="600">
                    <div class="d-flex">
                        <a href="{% url "web:gallery" %}" class="d-flex align-items-center justify-content-center flex-wrap btn-primary flex-grow-1">
                            View All 
                            <span class="inline-block ml-3 animate-arrow-up">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 17L17 7" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7 7H17V17" stroke="currentColor" stroke-opacity="0.9" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section End -->


        <!-- Blog Section Start -->
        <section class="bg-white py-72">
            <div class="container">
                <div class="row">
                    <div class="col-12" data-aos="fade-up" data-aos-delay="500">
                        <div class="fw-bold font-Syne text-center leading-none flex flex-wrap flex-column gap-y-2 mb-10">
                            
                            <h3 class="section-title text-dark">
                                News and
                                <span class="position-relative circle-shape blog-shape">Upda</span>tes
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="blog-grid">

                    <!-- Blog Item Start -->
                     {% for blog in blogs  %}
                    <div class="blog-item" data-aos="fade-up" data-aos-delay="300">
                        <div class="rounded-20 overflow-hidden mb-6">
                            <img class="w-100" src="{{blog.image.url}}" alt="blog image">
                        </div>
                        <div class="d-flex flex-wrap flex-column gap-3">
                            <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                                <li class="blog-meta-item">
                                    <a href="{{blog.get_absolute_url}}">{{blog.date}}</a>
                                </li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-end text-dark blog-title-section">
                                <h4 class="fw-bold font-Syne transition-all leading-8 blog-title">
                                    <a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                                </h4>                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Blog Item End -->
                     
                </div>
            </div>
            
        </section>
        
        <!-- Blog Section End -->

        {% endblock  %}
        {% block js %}
        <script src="{% static 'web/js/plugins/jquery.waypoints.js' %}">
        </script>
        <script src="{% static 'web/js/plugins/jquery.counterup.min.js' %}">
        </script>{% endblock js %}
           
       